$title-height: 30px;

.export-view {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 100px;

  .codeview {
    position: relative;
    width: 100%;
    height: 100%;

    &:after {
      content: "CSS";
      position: absolute;
      display:inline-block;
      right:0px;
      top:0px;
      padding:5px 10px;
      box-sizing: border-box;
      background-color: #ff9d12;
      color: white;
      border-bottom-left-radius: 5px;
    }

    textarea {
      width: 100%;
      height: 100%;
      display: block;
      padding: 10px;
      margin: 0px;
      background-color: rgba(240, 240, 240, 0.938);
      border: 0px;
    }
  }
}
