$background-color: #000000;
$border-color: #cccccc;
$selected-color: #cccccc;
$item-selected-color: #dbf3ff;
$font-color: black;
$pointer-color: rgba(#ececec, 0.8);
$gutter: 8px;
$tool-size: 50px;
$top-size: 100px;
$left-size: 260px;
$left-layer-panel: 70px;
$left-page-size: 70px;
$toggle-left-size: 80px;
$right-size: 260px;
$footer-size: 300px;
$timeline-header-size: 300px;
$timeline-size: 300px;
$show-timeline-animation: all 0.15s linear;
$gradient-box-size: 0px;
$layer-toolbar-height: 0px;
$display-flex-color: #01a270;
$display-grid-color: red;

.layout-main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  &.show-timeline {
    .layout-footer {
      height: $timeline-size - 1px;
    }
  }

  &:not(.show-timeline) {
    .layout-footer {
      height: $timeline-header-size - 1px !important;
    }
  }

  .layout-header {
    flex: none;
    height: $tool-size;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;

    .page-tab-menu {
      flex: 1 1 auto;
      display: block;
      position: relative;
    }
  }

  .layout-footer {
    position: absolute;
    left: $left-size + $right-size;
    right: 0px;
    bottom: 0px;
    height: $footer-size;
    overflow: hidden;
    border-top: 1px solid $border-color;
    // background-color: yellow;


    .ad {
      position: absolute;
      left: 0px;
      bottom: 0px;
      right: 0px;
      height: 100px;
      color: white;
    }    
  }

  .layout-middle {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    position: relative;

    .layout-left {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: $left-size;
      display: flex;
      z-index: 100;
      box-sizing: border-box;

      .feature-control {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: auto;

        box-sizing: border-box;
        padding: 5px;
      }
    }

    .layout-right {
      position: absolute;
      flex: none;
      left: $left-size;
      width: $right-size;
      right: 0px;
      top: -$top-size + 60;
      bottom: 10px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      z-index: 100;
      box-sizing: border-box;
      background-color: white;
      border-radius: 4px;
      overflow: auto;

      &:empty {

        &:before {
          content: attr(title);
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          display: inline-block;
          font-size: 20px;
          color: #9e9e9e;
          padding: 20px;
          text-align: center;
        }
      }

    }

    .layout-body {
      position: absolute;
      left: $left-size + $right-size;
      top: 0px;
      right: 0px;
      bottom: $footer-size;
      pointer-events: none;
    }
  }
}

// @import "./range-ui.scss";
@import "./tab-ui.scss";

@import "./element/unit-range.scss";

@import "./colorpicker-ui.scss";
@import "./tool-menu.scss";
@import "./vertical-colorstep.scss";
@import "./view.scss";

@import "./drag-angle.scss";
@import "./drag-position.scss";
@import "./guide/angluar-group.scss";
@import "./guide/background-resizer.scss";
@import "./guide/background-position.scss";
@import "./guide/perspective-origin-position.scss";

@import "./property-view.scss";
@import "./filters.scss";
@import "./border.scss";
@import "./border-image.scss";
@import "./outline.scss";
@import "./size.scss";
@import "./box-shadow.scss";
@import "./export-view.scss";

@import "./fill-picker.scss";
@import "./popup.scss";
