$pointer-color: rgba(#0f72cf, 0.8);
$direction-border: 2px solid $pointer-color;
$editor-button-color: #5f80de;
$editor-line-color: rgba($editor-button-color, 0.3);
$editor-resizer-width: 8px;
$editor-canvas-background-color: rgba(236, 236, 236, 0.3);
.page-view {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: $border-color;

  .page-canvas {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: white;
  }

  .gradient-control {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);

    .gradient-layer {
      position: absolute;
      border: 1px solid white;
      box-sizing: border-box;
      pointer-events: all;
      cursor: move;

      &[data-selected="true"],
      &:hover {
        z-index: 100;
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }  

  .gradient-transform {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    pointer-events: none;

    .control-layer {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
    }

    .control-point {
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid white;
      background-color: purple;
      box-sizing: border-box;
      pointer-events: all;
      transform: translate(-50%, -50%);

      &[data-direction="top"] {
        top: 0%;
        left: 50%;
        cursor: row-resize;        
      }

      &[data-direction="bottom"] {
        top: 100%;
        left: 50%;
        cursor: row-resize;
      }      

      &[data-direction="right"] {
        top: 50%;
        left: 100%;
        cursor: col-resize;        
      }      

      &[data-direction="left"] {
        top: 50%;
        left: 0%;
        cursor: col-resize;
      }      

      &[data-direction="width"] {
        height: 20px;
        top: 50%;
        left: calc(100% + 20px);
        background-color: white;
        background-image: linear-gradient(to right, red, black);
        cursor: w-resize;
      }

      &[data-direction="height"] {
        width: 20px;
        top: calc(100% + 20px);
        left: 50%;
        background-color: white;
        background-image: linear-gradient(to bottom, red, black);
        cursor: n-resize;
      }      

      &[data-direction="height-top"] {
        width: 20px;
        top: calc(0% - 20px);
        left: 50%;
        background-color: white;
        background-image: linear-gradient(to bottom, red, black);
        cursor: s-resize;
      }      

      &[data-direction="width-left"] {
        height: 20px;
        top: 50%;
        left: calc(0% - 20px);
        background-color: white;
        background-image: linear-gradient(to right, red, black);
        cursor: e-resize;
      }            
    }
  }  
}
